NODE-RED/flows.json
[
    {
        "id": "20ddaa74.f6e756",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88effef0.1d155",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#400040",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#400040",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#8c008c",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#400040",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3052ee13.5d4892",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Assist",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f485bfba.2c8e9",
        "type": "ui_group",
        "z": "",
        "name": "BotCare",
        "tab": "3052ee13.5d4892",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "ca61f16c.74c6c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a4fd691.3bd1b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "cdeabcfb.bb9b5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ae1761.0e9fb88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "101dc7b5.a1f448",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "32bf8e4a.e5eaf2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d54d9df0.0a3cf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "3e8399b3.a57016",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f485bfba.2c8e9",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2d43cd2.d98b7",
        "type": "function",
        "z": "20ddaa74.f6e756",
        "name": "",
        "func": "msg.payload = msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "f79c73f.62bda9",
                "f7ab9dd8.66374"
            ]
        ]
    },
    {
        "id": "eec436f9.ad0ea8",
        "type": "debug",
        "z": "20ddaa74.f6e756",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "db23a440.ffec28",
        "type": "function",
        "z": "20ddaa74.f6e756",
        "name": "",
        "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n    }\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "f437990b.a15178",
                "eec436f9.ad0ea8"
            ]
        ]
    },
    {
        "id": "53fde0fa.7f963",
        "type": "debug",
        "z": "20ddaa74.f6e756",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7ab9dd8.66374",
        "type": "watson-conversation-v1",
        "z": "20ddaa74.f6e756",
        "name": "Assistant",
        "workspaceid": "e10f31d4-8f49-44cb-8021-540e7b062bf8",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/573d7901-ceea-4dab-8d12-f37af61cb0f7",
        "timeout": "",
        "optout-learning": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "db23a440.ffec28",
                "53fde0fa.7f963"
            ]
        ]
    },
    {
        "id": "7e84a245.aa880c",
        "type": "ui_form",
        "z": "20ddaa74.f6e756",
        "name": "",
        "label": "",
        "group": "f485bfba.2c8e9",
        "order": 1,
        "width": 6,
        "height": 2,
        "options": [
            {
                "label": "Enter",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "b2d43cd2.d98b7"
            ]
        ]
    },
    {
        "id": "f79c73f.62bda9",
        "type": "ui_text",
        "z": "20ddaa74.f6e756",
        "group": "f485bfba.2c8e9",
        "order": 5,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "QUERY :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "f437990b.a15178",
        "type": "ui_text",
        "z": "20ddaa74.f6e756",
        "group": "f485bfba.2c8e9",
        "order": 2,
        "width": "14",
        "height": "7",
        "name": "",
        "label": "RESPONSE",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "57e5c959.3b6718",
        "type": "inject",
        "z": "20ddaa74.f6e756",
        "name": "Hello",
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "f7ab9dd8.66374"
            ]
        ]
    }
]
